.canvasjs-chart-credit {
  display: none;
}

.App {
  text-align: center;
}
body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask5406%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient5407%26quot%3b)'%3e%3c/rect%3e%3cpath d='M558.144%2c921.947C625.674%2c921.257%2c674.615%2c865.713%2c708.386%2c807.229C742.162%2c748.736%2c762.085%2c680.529%2c732.652%2c619.735C699.429%2c551.112%2c634.31%2c500.295%2c558.144%2c496.899C476.186%2c493.245%2c390.916%2c529.394%2c354.428%2c602.872C320.587%2c671.021%2c361.543%2c746.223%2c402.489%2c810.355C439.311%2c868.028%2c489.723%2c922.646%2c558.144%2c921.947' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1059.974912203541 86.11314216994846L1009.1868436613806 275.6567943875812 1198.7304958790135 326.4448629297415 1249.5185644211738 136.90121071210874z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1551.976%2c640.977C1617.885%2c644.238%2c1678.763%2c603.766%2c1710.259%2c545.777C1740.431%2c490.226%2c1732.454%2c423.17%2c1699.614%2c369.153C1668.114%2c317.34%2c1612.613%2c285.662%2c1551.976%2c285.427C1490.918%2c285.191%2c1431.441%2c314.323%2c1402.346%2c368.003C1374.398%2c419.565%2c1390.49%2c479.921%2c1418.681%2c531.35C1448.319%2c585.419%2c1490.392%2c637.93%2c1551.976%2c640.977' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M150.24880379840255 590.010193005373L-48.537775703270825 682.7058973654408 242.9445081584703 788.7967725070464z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1800.697%2c302.07C1858.068%2c302.878%2c1906.4%2c263.31%2c1934.54%2c213.308C1962.094%2c164.347%2c1968.398%2c104.065%2c1939.113%2c56.119C1910.873%2c9.884%2c1854.874%2c-5.691%2c1800.697%2c-5.825C1746.231%2c-5.959%2c1688.826%2c8.556%2c1661.093%2c55.433C1632.957%2c102.991%2c1646.012%2c161.537%2c1673.232%2c209.626C1700.943%2c258.582%2c1744.448%2c301.277%2c1800.697%2c302.07' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask5406'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='89.06%25' y1='119.44%25' x2='10.94%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5407'%3e%3cstop stop-color='rgba(189%2c 115%2c 197%2c 1)' offset='0.25'%3e%3c/stop%3e%3cstop stop-color='rgba(90%2c 103%2c 186%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
.glass {
  /* Glassmorphic effect */
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 8px; 
}

.ant-input {
  /* text-align: right; */
  padding-left: 8px; /* Adjust the padding values as needed */
}

.song-title {
  font-family: 'Arial', sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #ff00ff;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, #ff00ff, #9500ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* Glassmorphic effect */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
